###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=generate_with_openssl_rand_hex_32
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://app:YOUR_DB_PASSWORD@database:5432/factoring?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://user:YOUR_RABBITMQ_PASSWORD@rabbitmq:5672/%2f/messages
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=use_same_passphrase_as_when_generating_jwt_keys
###< lexik/jwt-authentication-bundle ###

###> compose.yaml service passwords ###
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
RABBITMQ_USER=user
RABBITMQ_PASSWORD=YOUR_RABBITMQ_PASSWORD
###< compose.yaml service passwords ###
